.works_container {

  --inner_gap:  10px;

  padding: calc(var(--grid_gap)*2) var(--grid_gap) var(--grid_gap) calc( var(--grid_nav_width) + (var(--grid_gap)*2));
  min-height: 50vh;
  background-color: var(--cor_primaria_light_gray);
  background:#000000;
  background: url(../../img/noise.png), var(--cor_primaria_light_gray);
}


.works_container h2::after {
  content: "03";
  font-family: 'Jost', sans-serif;
  position: absolute;
  left: -20px;
  font-size: 12px;
  font-weight: 800;
}

.works_content {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: var(--grid_gap);
  margin-bottom: var(--grid_gap);
}

.find_out_more {
  background: black;
  height: 50px;
  color: white;
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-device-width: 480px) and (max-device-width: 899px) { 
  .works_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: var(--grid_gap);
    grid-row-gap: calc(var(--grid_gap)*2 ); 
  }
}

@media screen and (min-device-width: 900px) and (max-device-width: 1350px)  {

  .works_container {
    width: 50vw;
    margin-left: 50vw;
    padding: calc( var(--grid_nav_width) + (var(--grid_gap)));
  }

  .works_content {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: var(--grid_gap);
    grid-row-gap: calc(var(--grid_gap)*2 ); 
  }

}

@media screen and ( min-width : 1351px ) {

  .works_container {
    width: 50vw;
    margin-left: 50vw;
    padding: calc( var(--grid_nav_width) + (var(--grid_gap)*2));
  }

  .works_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: var(--grid_gap);
    grid-row-gap: calc(var(--grid_gap)*2 ); 
  }

}