.project_list {
  grid-column: 2 / 4;
  padding: 0 20px;
}

.project_list_container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: var(--grid_gap);
}

/* .project {
  padding: 20px 0;
  background-color: tomato;
  margin-bottom: 20px;
} */

/* .image_projeto_mini {
  width: 100px;
  height: 100px;
  background-color: violet;
} */


@media screen and ( min-width : 900px ) {

  /* .works_container {
    width: 50vw;
    margin-left: 50vw;
    padding: calc( var(--grid_nav_width) + (var(--grid_gap)*2));
  } */

  .project_list_container  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: var(--grid_gap);
    grid-row-gap: calc(var(--grid_gap)*2 ); 
    width: 100%;
    padding: 10vh;
  }

}