.work {
  /* border: solid 1px; */
  --inner_gap:  10px;

  padding: var(--inner_gap);
  background-color: white;
}

.work_avatar {
  /* width: calc( (100vw - (var(--inner_gap)*2)) - (var(--grid_nav_width) + (var(--grid_gap)*3))) ; */
  /* height: calc( 70vw - (var(--grid_nav_width) + (var(--grid_gap)*3))); */
  /* height: calc(((100vw - (var(--inner_gap)*2)) - (var(--grid_nav_width) + (var(--grid_gap)*3)) ) * 0.7 ); */
  /* padding-bottom: calc(var(--inner_gap) *2); */
  width: 100%;
  overflow: hidden;
  position: relative;
}

.work h3, .work p { color: black; }

.work h3 { padding: 20px 0px 10px 0px;}

.short_description {
  margin-bottom: 0;
}
