.navbar_container {
  position: fixed;
  width: var(--grid_nav_width);
  min-height: 582px;
  background-color: var(--cor_primaria_light);
  padding: var(--grid_gap) 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: var(--grid_gap);
  z-index: 9;
  left: 0;
}

.logotipo {
  font-family: 'Jost', sans-serif;
  text-transform: uppercase;
  font-size: 38px;
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 200;
  color: var(--cor_primaria_dark);
}

.logotipo > span {
  font-weight: 800;
}

.contexto_pais {
  font-family: 'Italiana', serif;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  color: black;
}

/* === Menu Hamburger === */
.menu {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menu .dot {
  width: 30px;
  height: 6px;
  background-color: black;
  border-radius: 5px;
  position: relative;
}

.menu .dot::before {
  content: "";
  top: -10px;
  width: 20px;
  height: 6px;
  background-color: black;
  border-radius: 5px;
  position: absolute;
}

.menu .dot::after {
  content: "";
  top: 10px;
  width: 15px;
  height: 6px;
  background-color: black;
  border-radius: 5px;
  position: absolute;
}

.dot, .dot::before, .dot::after {
  transition: ease-in-out 1s;
}

.menu:hover .dot,
.menu:hover .dot::before,
.menu:hover .dot::after  {
  width: 30px;
}

/* === Menu Social === */
.container_social {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.linkedin, .github, .codpen, .behance {
  display: block;
  width: 50px;
  height: 50px;
  overflow: hidden;
  text-indent: -1000%;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.linkedin { background-image: url(../../img/icon/linkedin.svg);}
.github { background-image: url(../../img/icon/GitHub-Mark-64px.png);}
.codpen { background-image: url(../../img/icon/codpen.svg);}
.behance { background-image: url(../../img/icon/behance.svg);}


/* === Nav Menu Open === */
.menu_options{
  position: fixed;
  background: black;
  width: 100vw;
  max-width: 100%;
  height: 100Vh;
  left: -100vw;
  top: 0;
  z-index: 9;
  transition: ease-in-out 1s;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 40px; */
}

.menu_options.open{
  left: 0px;
}

.close_menu {
  width: 30px;
  height: 30px;
  background-color: black;
  color: white;
  position: absolute;
  right: 30px;
  top: 30px;
  border: none;
}

.menu_options > a {
  /* font-family: 'Vollkorn', serif;
  font-weight: 700; */
  font-size: 30px;
  color: white;
  transform: translateX(-100vw);
  transition: transform 2s ease-in-out;
  width: calc(100vw - 80px);
  height: 15vh;
  /* border-bottom: 1px solid white; */
  border-bottom: 1px solid rgb(255 255 255 / 47%);
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Jost', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}

.menu_options > a.active{
  font-weight: 700;
}

.menu_options.open > a:nth-of-type(1){
  transform: translateX(0%);
  transition-duration: 1.5s;
}

.menu_options.open > a:nth-of-type(2){
  transform: translateX(0%);
  transition-duration: 1.7s;
}

.menu_options.open > a:nth-of-type(3){
  transform: translateX(0%);
  transition-duration: 1.8s;
}