.about_project {
  grid-column: 2 / 4;
  padding: 0 20px;
}


.image_projeto {
  width: 100%;
  height: 200px;
  background-color: violet;
}

.container_links {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.btn_github, .btn_deploy {
  width: 200px;
  height: 60px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}