/* .about_project {
  background-color: var(--cor_primaria_dark);
  display: grid;
  grid-template-columns: var(--grid_nav_width) repeat(2, 2fr);
  color: #f0f0f0;
  min-height: 100vh;
} */
.about_project {
  grid-column: 2 / 4;
  padding: 0 20px;
}


.image_projeto {
  width: 100%;
  height: 500px;
  background-color: violet;
}

.acelerar {
  background-color: tomato;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.acelerar li {
  background-color: olive;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_links {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.btn_github, .btn_deploy {
  width: 200px;
  height: 60px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}