.container_carousel {
  height: 70vh;
  background-color: violet;
}

.slick-slide {
  /* height: 70vh; */
  /* border: solid 1px; */
  position: relative;
}

.laje {
  background-image: url(./img/laje/purpurina.gif);
  width: 100%;
  height: 70vh;
  display: grid !important;
  grid-template-columns: var(--grid_nav_width) repeat(2, 2fr);
  grid-template-rows: auto;
  overflow: hidden;
}

.container_banner {
  grid-column: 2 / 4;
  height: 70vh;
  position: relative;
}

.banner, .banner::before, .banner::after, .letreiro, .letreiro::after, .pandeiro, .pandeiro::after{
  background-size: 50vh;
  background-repeat: no-repeat;
  height: 100%;
  position: absolute;
}

.banner {
  position: relative;
  width: 100vw;
  background-image: url('./img/laje/fundo_palmeiras.png');
  background-position: top center;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}
/* 
.slick-active .banner {
  background-size: 50vh;
} */

.banner::before {
  content: "";
  /* position: absolute; */
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  /* height: 100%; */
  background-image: url('./img/laje/banner_geral.png');
  background-position: top center;
  /* background-size: 80%; */
  /* background-repeat: no-repeat; */
}

.banner::after {
  content: "";
  /* position: absolute; */
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  /* height: 100%; */
  background-image: url('./img/laje/banner_inferior.gif');
  background-position: top center;
  top: 31.5vh;
  /* background-size: 80%; */
  /* background-repeat: no-repeat; */
}

.letreiro {
  width: 100vw;
  height: 200px; 
  background-image: url('./img/laje/letreiro_banner.png');
  left: 50%;
  transform: translateX(-50%);
  top: 8.6vh;
  z-index: 3;
  background-position: top center;

}

.letreiro::after {
  content: '';
  background-image: url(./img/laje/letreiro_neon.gif);
  background-position: top center;
  width: 100%;
  left: 0;
  top: 0;
}

.pandeiro {
  width: 100vw;
  height: 30vh; 
  background-image: url('./img/laje/fundo_flores.png');
  left: 50%;
  transform: translateX(-50%);
  top: 19.5vh;
  z-index: 3;
  background-position: top center;
  background-size: 30vh;
  /* border: solid 1px black; */
  z-index: 3;
}

.pandeiro::before {
  content: '';
  width: 100%;
  height: 100%;
  background-position: top center;
  background-repeat: no-repeat;
  background-image: url('./img/laje/pandeiro.gif');
  position: absolute;
  z-index: -2;
  background-size: 25vh;
  top: 6vh;
}

.slick-prev, .slick-next, .slick-dots {
  display: none !important;
}