@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,300;1,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


.container_carousel {
  height: 70vh;
  background-color: violet;
}

.slick-slide {
  position: relative;
}

.container_banner {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  height: 70vh;
  position: relative;
}

/* -------------- SLIDE LAJE ------------ */
.laje {
  background-image: url(./img/laje/purpurina.gif);
  width: 100%;
  height: 70vh;
  display: grid !important;
  grid-template-columns: var(--grid_nav_width) repeat(2, 2fr);
  grid-template-rows: auto;
  overflow: hidden;
}

.banner, .banner::before, .banner::after, .letreiro, .letreiro::after, .pandeiro, .pandeiro::after{
  background-size: 50vh;
  background-repeat: no-repeat;
  height: 100%;
  position: absolute;
}

.banner {
  position: relative;
  width: 100vw;
  background-image: url('./img/laje/fundo_palmeiras.png');
  background-position: top center;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}
/* 
.slick-active .banner {
  background-size: 50vh;
} */

.banner::before {
  content: "";
  /* position: absolute; */
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  /* height: 100%; */
  background-image: url('./img/laje/banner_geral.png');
  background-position: top center;
  /* background-size: 80%; */
  /* background-repeat: no-repeat; */
}

.banner::after {
  content: "";
  /* position: absolute; */
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  /* height: 100%; */
  background-image: url('./img/laje/banner_inferior.gif');
  background-position: top center;
  top: 31.5vh;
  /* background-size: 80%; */
  /* background-repeat: no-repeat; */
}

.letreiro {
  width: 100vw;
  height: 200px; 
  background-image: url('./img/laje/letreiro_banner.png');
  left: 50%;
  transform: translateX(-50%);
  top: 8.6vh;
  z-index: 3;
  background-position: top center;

}

.letreiro::after {
  content: '';
  background-image: url(./img/laje/letreiro_neon.gif);
  background-position: top center;
  width: 100%;
  left: 0;
  top: 0;
}

.pandeiro {
  width: 100vw;
  height: 30vh; 
  background-image: url('./img/laje/fundo_flores.png');
  left: 50%;
  transform: translateX(-50%);
  top: 19.5vh;
  z-index: 3;
  background-position: top center;
  background-size: 30vh;
  /* border: solid 1px black; */
  z-index: 3;
}

.pandeiro::before {
  content: '';
  width: 100%;
  height: 100%;
  background-position: top center;
  background-repeat: no-repeat;
  background-image: url('./img/laje/pandeiro.gif');
  position: absolute;
  z-index: -2;
  background-size: 25vh;
  top: 6vh;
}

/* -------------- SLIDE VEREDA ------------ */
.vereda {
  width: 100%;
  height: 70vh;
  display: grid !important;
  grid-template-columns: var(--grid_nav_width) repeat(2, 2fr);
  grid-template-rows: auto;
  overflow: hidden;
  background: url(./img/vereda/folhas1.svg) no-repeat, url(./img/vereda/folhas2.svg) no-repeat, url(./img/vereda/bg.png) repeat fixed rgb(203, 190, 168);
  background-position: -234px -367px, right 200px, center;
  background-blend-mode: overlay, overlay, normal;
  background-size: 750px, 600px, auto;
}

.banner_vereda {
  background-size: 39vh;
  background-repeat: no-repeat;
  height: 100%;
  position: absolute;
}

.banner_vereda {
  position: relative;
  width: 100vw;
  background-image: url('./img/vereda/banner.png');
  background-position: top center;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}

.banner_vereda::before {
  content: "";
  z-index: 2;
  left: 0;
  top: 0;
  background-size: 39vh;
  background-repeat: no-repeat;
  height: 100%;
  position: absolute;
  width: 100%;
  background-image: url('./img/vereda/arvoredo.png');
  background-position: top center;
}

.banner_vereda::after {
  content: "";
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url('./img/vereda/rio.png');
  background-position: top center;
  top: 6vh;
  background-size: 34vh;
  background-repeat: no-repeat;
}

.logo_vereda {
  background-size: 25.5vh;
  background-repeat: no-repeat;
  height: 100%;
  position: absolute;
  /* position: relative; */
  width: 100vw;
  background-image: url('./img/vereda/logo.png');
  /* background-color: tomato; */
  background-position: top center;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}

/* -------------- SLIDE easy_cooking ------------ */
.easy_cooking {
  width: 100%;
  height: 70vh;
  display: grid !important;
  grid-template-columns: var(--grid_nav_width) repeat(2, 2fr);
  grid-template-rows: auto;
  overflow: hidden;
  background: url(./img/easy_cooking/noise.png) repeat fixed #f3f1f1;
  background-position: center;
  background-size: auto;
}

.banner_easy_cooking {
  position: relative;
  background-size: 39vh;
  height: 40vh;
  width: calc(100% + var(--grid_nav_width));
  background: url(./img/easy_cooking/curved.svg) no-repeat;
  background-position: center bottom;
  background-size: cover;
  left: 0;
  transform: translateX(calc(var(--grid_nav_width) * -1));
  /* border: solid 1px; */
}

.banner_easy_cooking::after{
  content: "";
  height: 50vh;
  width: calc(100% + ( var(--grid_nav_width) * -1 ));
  background: url(./img/easy_cooking/cozinhando.svg) no-repeat;
  background-size: 35vh;
  background-position: center;
  position: absolute;
  left: var(--grid_nav_width);
  top: 8vh;
}

.container_logo_easy_cooking {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 6vh);  
}

.logo_easy_cooking {
  font-family: Abril Fatface,cursive;
  font-size: 36px;
  font-weight: 400em;
}

.logo_easy_cooking strong{
  color: #f9a410;
  font-weight: 400;
}

.container_logo_easy_cooking .subtitle {
  text-align: right;
  margin-right: 20px;
  font-family: Lato, sans-serif;
  font-weight: 900;
  font-size: 13px;
  transform: translateY(-26px);
}

/* -------------- SLIDE the box ------------ */
.the_box_blog {
  width: 100%;
  height: 70vh;
  display: grid !important;
  grid-template-columns: var(--grid_nav_width) repeat(2, 2fr);
  grid-template-rows: auto;
  overflow: hidden;
  background: url(./img/the_box_blog/the_box_blog.jpg) no-repeat fixed #f3f1f1;
  background-position: left center;
  background-size: cover;
}
/* .banner_the_box_blog */


/* -------------- SLIDE solar system ------------ */
.solar_system {
  width: 100%;
  height: 70vh;
  display: grid !important;
  grid-template-columns: var(--grid_nav_width) repeat(2, 2fr);
  grid-template-rows: auto;
  overflow: hidden;
  /* background: url(./img/the_box_blog/the_box_blog.jpg) no-repeat fixed #f3f1f1;
  background-position: left center;
  background-size: cover; */
}

.video_background_container {
  height: 100%;
  max-width: 100vw;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: -1;
}

.video_background {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.video_background:before {
  background-image: linear-gradient(to bottom right, #0100ec, #fb36f4);
  content: '';
  height: 100%;
  mix-blend-mode: hard-light;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}

.video_background iframe {
  filter: grayscale(1);
  mix-blend-mode: hard-light;
  object-fit: cover;
  transform: rotate(90deg);
}
 
.banner_solar_system { 
  background-color: tomato;
}


@media screen and ( min-width : 900px ) {

  .video_background iframe {
    transform: rotate(0deg);
  }
}

@media screen and ( min-width : 600px ) and ( min-height : 200px ) {

  .video_background iframe {
    transform: rotate(0deg);
  }
}




/* --------------fim do solar system ------------ */
.slick-prev, .slick-next {
  display: none !important;
}

.slick-dots {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-left: var(--grid_nav_width);
}

.slick-dots button {
  background: none !important;
  border: none;
  width: 10px;
  height: 10px;
  border: solid 2px black;
  border-radius: 15px;
  transition: ease-in-out 1s;
  overflow: hidden;
  text-indent: -1000px;
}

.slick-dots .slick-active button {
  width: 30px;
}

.show_project {
  height: 30px;
  width: 100px;
  position: absolute;
  top: 58vh;
  left: 50%;
  z-index: 3;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  font-family: 'Barlow', sans-serif;
    font-weight: 400;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}