.works_container {
  padding: calc(var(--grid_gap)*2) var(--grid_gap) var(--grid_gap) calc( var(--grid_nav_width) + (var(--grid_gap)*2));
  min-height: 50vh;
  background-color: var(--cor_primaria_light_gray);
  background:#000000;
  background: url(../../img/noise.png), var(--cor_primaria_light_gray);
}


.works_container h2::after {
  content: "03";
  font-family: 'Jost', sans-serif;
  position: absolute;
  left: -20px;
  font-size: 12px;
  font-weight: 800;
}

.work {
  border: solid 1px;
  padding: var(--grid_gap)
  ;
}

.work_avatar {
  width: calc( (100vw - (var(--grid_gap)*2)) - (var(--grid_nav_width) + (var(--grid_gap)*3))) ;
  height: calc( 70vw - (var(--grid_nav_width) + (var(--grid_gap)*3)));
  overflow: hidden;
  position: relative;
}

/* .works {
  width: 100%;
} */

/* .work {
  border: solid 1px black;
  position: relative;
  height: calc( ((100vw - (var(--grid_nav_width) + (var(--grid_gap)*3))) * 1/2) + (var(--grid_gap)*2));
  z-index: 3;
}

.container_work_picture {
  width: calc( (100vw - (var(--grid_nav_width) + (var(--grid_gap)*3))) * 1/2) ;
  height: calc( (100vw - (var(--grid_nav_width) + (var(--grid_gap)*3))) * 1/2);
  overflow: hidden;
  position: absolute;
  left: calc(var(--grid_gap) * -1);
  top: var(--grid_gap);
  z-index: -1;
}

.container_work_picture > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

@media screen and ( min-width : 900px ) {

  .works_container {
    width: 50vw;
    margin-left: 50vw;
    padding: calc( var(--grid_nav_width) + (var(--grid_gap)*2));
  }
}