@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Italiana&family=Jost:wght@200;800&family=Vollkorn:ital,wght@1,700&display=swap');
@import url(https://db.onlinewebfonts.com/c/5f674c12e20e0d3d4fbcc77a61aed868?family=WT+Skrappa+Roman);
/* font-family: 'Barlow', sans-serif;
font-family: 'Italiana', serif;
font-family: 'Jost', sans-serif;
font-family: 'Vollkorn', serif; */

:root {
  --grid_nav_width: 90px;
  --grid_gap: 20px;

  /*Primaria*/
  --cor_primaria_dark:  black;
  --cor_primaria_light: white;
  --cor_primaria_light_gray: #f0f0f0;

  --banner_height_desktop: 100vh;
}

body {
  /* background: var(--cor_primaria_dark); */
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
}

h2 {
  font-family: 'Vollkorn', serif;
  font-weight: 700;
  font-size: 30px;
  position: relative;
  margin-bottom: var(--grid_gap);
}

/* h2 {
  font-family: "WT Skrappa Roman";
  font-size: 75px;
  font-size: clamp(5rem,2.9107rem + 8.5714vw,10.625rem);
  font-size: clamp(4rem,2.5rem + 8vw,6rem);
  position: relative;
  margin-bottom: var(--grid_gap);
  letter-spacing: 1px;
} */

p {
  font-size: 16px;
  line-height: 150%;margin-bottom: var(--grid_gap);
}

strong {
  font-weight: 700;
}

.container_main{
  width: 100vw;
  max-width: 100%;
  overflow: hidden;
}

.slider {
  width: 100vw;
  max-width: 100%;
  overflow: hidden;
  height: 70vh;
  background-color: var(--cor_primaria_light_gray);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_project, .container_project_list {
  background-color: var(--cor_primaria_dark);
  display: grid;
  grid-template-columns: var(--grid_nav_width) repeat(2, 2fr);
  color: #f0f0f0;
  min-height: 100vh;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider img {
  object-fit: contain;
}
